/* ===== CONFIGURATION DE LA PAGE DE GARDE ===== */
/* 
   1. VARIABLES & RESET
   2. LAYOUT (Header, Main, Footer)
   3. MAP & CITIES
   4. CAROUSEL
   5. POSITIONNEMENT PLUS SPÉCIFIQUE 
   6. DESIGN RESPONSIVE
*/

/* ===== VARIABLES ===== */
:root { /* la racine du site (le document entier)*/
    --ink: #0e0c0a; /*on crée des variables pour les couleurs qu'on va utilisé pour plus de simplicité */
    --paper: #f5f2ec;
    --red: #d62020;
}

/* reset global : on cible tous les éléments de la page 
et on supprime les marges & espacements par défaut des navigateurs
et on force le navigateur à prendre les valeurs qu"on va définir pour nos objets*/
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

/* quand on clique sur un lien, le navigateur va être plus fluide et moins brusque dans sa "transition"*/
html { scroll-behavior: smooth; }

/* ===== LAYOUT ===== */
/* --- Styles de base --- */
body {
    font-family: 'Arial Black', sans-serif;
    margin: 0; /*sécurité pour s'assurer qu'il n'y a aucun espace vide autour du contenu du site*/
    padding: 0; /*sécurité pour s'assurer qu'il n'y a aucun espace vide autour du contenu du site*/
    background: var(--paper);
    color: var(--red);
    overflow-x: hidden; /*sécurité pour éviter que le site défilement horizontalement sur mobile si un élément dépasse*/
    padding-top: 80px; /* laisse de l'espace pour que l'en-tête fixe ne cache pas le titre */
}

/* --- En-tête (Header) --- */
header {
    position: fixed; /*permet au menu de rester en haut de l'écran, même quand on défile vers le bas*/
    top: 0; /*place le menu tout en haut à gauche de la fenêtre*/
    left: 0; /*place le menu tout en haut à gauche de la fenêtre*/
    width: 100%; /*occupe toute la largeur de l'écran*/
    height: 70px; /*définit la hauteur de la barre de navigation*/
    background-color: var(--paper);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* petite ombre portée en dessous pour donner un effet de relief*/

    display: flex; 
    justify-content: right; /*pousse les liens de navigation vers la droite*/
    align-items: center; /*aligne  le logo et les textes sur la même ligne au milieu des 70px de hauteur du header*/

    padding: 0 30px; /* 30px d'espace à gauche et à droite du contenu et 0px en haut et bas*/
    box-sizing: border-box;
    z-index: 1000; /* définit l'ordre d'empilement. Avec 1000, le menu passera toujours au-dessus de tous les autres éléments du site*/
}

/* Logo "SB" */
.logo {
    position: absolute;  /*sors le logo du reste du menu pour le placer à gauche sans qu'il soit poussé à droite avec les autres liens*/ 
    left: 10px; /* espacement de la bordure gauche de l'écran*/
    text-decoration: none; /* enlève le soulignement automatique car lien hypertext*/
    color:  var(--red);
    font-weight: bold;
    font-size: 24px;

    /*crée un carré invisible de 45 pixels tout autour des lettres
    ce qui permet d'agrandir la zone cliquable et non de se réduire qu'aux lettres*/
    width: 45px; 
    height: 45px;

    /*utilises flexbox à l'intérieur du logo pour que les lettres
    soient parfaitement centrées (horizontalement et verticalement) 
    dans le carré de 45px*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menus de navigation */
.nav-links {
    list-style: none; /* enlève les puces qui apparaissent normalement devant chaque élément d'une liste*/
    display: flex; /*aligne les onglets sur une seule ligne horizontale au lieu qu'ils soient les uns sous les autres*/
    gap: 100px; /*espacement entre les éléments du menu*/

    /*supprime les espacements que le navigateur ajoute par défaut aux listes*/
    margin: 0;
    padding: 0;
}

.nav-links > li > a { /*on cherche les liens "a" qui sont dans les 
    éléments de liste "li" du menu principal .nav-links */
    text-decoration: none; /* enlève le soulignement automatique car lien hypertext*/
    color: var(--ink);
    font-size: 18px;
    padding: 10px 0; /* 10px d'espace au-dessus et en dessous du texte pour agrandir la zone cliquable*/
    /*border-bottom: 2px solid transparent; */
}

.nav-links > li > a:hover { color: var(--red); } /* Changer de couleur quand on passe la souris dessus */

/* --- Menus déroulants (Dropdowns) --- */
.dropdown {
    /* on met le parent de dropdown-content en relative
    pour que dropdown-content se place correctement */
    position: relative; }

.dropdown-content {
    display: none; /* caché par défaut */
    position: absolute; /*met le menu au dessus du reste du contenu */
    top: 100%; /* place la boxe exactement en dessous du parent */

    /*on centre le menu déroulant en dessous de son onglet*/
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--ink);
    min-width: 180px; /*largeur de la boxe*/
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /*légère ombre*/
    list-style: none; /*enlève les puces de listes*/
    padding: 10px 0; /*les bordure*/
    border-radius: 5px; /*on arrondie les bordures*/
    font-family: 'Shippori Mincho', serif;
}

.dropdown-content li a { /* liens à l'intérieur des menus déroulants*/
    text-decoration: none; /* enlève le soulignement automatique car lien hypertext*/
    color: var(--paper);
    padding: 10px 20px; /*espace interne dans la sous-boxe*/
    display: block; /*toute la sous-boxe devient cliquable */
    text-align: center; 
}

.dropdown-content li a:hover { /* quand on passe sur les liens à l'intérieur des menus déroulants*/
    background-color: var(--paper);
    color: var(--red);
}

/* Affichage du sous-menu quand la souris passe sur l'onglet */
.dropdown:hover .dropdown-content {
    display: block; /*chnage l'état de la boite : none -> block*/
}

/* ===== MAP & CITIES ===== */
/* --- Contenu Principal (Texte + Carte) --- */
.content-wrapper {
    display: flex; /*aligne le texte et la carte cote à cote*/
    justify-content: space-between; /* pousse le texte au maximum à gauche et la carte au maximum à droite en mettant tout l'espace vide au milieu*/
    align-items: center; /*empêche la carte de s'étirer verticalement
    car par défaut flexbox étire les éléments sur toute la hauteur.
    On centre verticalement le texte et la carte*/
    padding: 30px; /* espace de sécurité tout autour du contenu*/
    max-width: 1200px; /*Limite la largeur totale pour que ca reste lisible */
    margin: 0 auto; /*centre le bloc de 1200px au milieu de l'écran*/
    gap: 40px; /*espace minimum de 40px entre le texte et la carte
     pour qu'ils ne se touchent jamais*/
}

/* Texte à gauche */
.left-text {
    width: 65%; /*définit la largeur de la colonne
    par rapport à la largeur totale du conteneur parent */
}

.left-text h1 { /* découvrez le Japon!*/
    font-size: 3em; /*le titre est 3 fois plus gros que le texte normal du site*/
    font-weight: normal; /*forces le titre à avoir une épaisseur fine/normale*/
    margin-bottom: 20px;} /*espacement sous le titre*/

.description{
    color : var(--ink);
    text-align: justify;
    font-family: 'Shippori Mincho', serif;
    font-weight: bolder; /*Rend le texte plus épais*/
}

.instruction {
    font-family: 'Shippori Mincho', serif;
    font-style: italic;
    color: var(--ink);
    margin-top: 80px; /*espacement au dessus*/
    font-size: 0.8em;
    text-align: center;
}

.instruction:hover{ /* quand on passe sur les instructions*/
    color: var(--red);
    font-weight: bolder;
}

/* Carte à droite */
.map-container {
    position: relative; /*définit ce bloc comme le point de repère pour les points*/
    display: block; /*force le conteneur à se comporter comme un bloc solide */
}

.japan-map {
    width: 100%; /*l'image occupe toute la largeur de son conteneur parent*/
    height: auto;
    display: block; /* au lieu d'être considérée comme du texte, 
    on supprimes un espace vide invisible que les navigateurs ajoutent 
    souvent sous les images*/
}

/* --- Villes sur la carte --- */
.city {
    position: absolute; /* permet de détacher l'élément pour le placer où on veut
    sur la carte à l'aide des coordonnées top et left dans le html*/
    transform: translate(-50%, -50%); /*c'est le centre du point rouge qui est sur 
    les coordonnées*/

    /*aligne le point rouge et le nom de la ville l'un en dessous de l'autre 
    verticalement*/
    display: flex;
    flex-direction: column;

    align-items: center; /*centre horizontalement le nom de la ville par rapport au point rouge*/
    cursor: pointer; /*transforme le curseur de la souris en petite main quand on survole la ville*/
    z-index: 1; /*ordre d'empilement pour que les villes s'affichent
     au-dessus de l'image de la carte du Japon*/
}

/* --- le point rouge --- */
.dot {
    /*la taille du point*/
    width: 6px;
    height: 6px;

    background-color: var(--red); 
    border: 1px solid var(--paper);
    border-radius: 50%; /*transforme le carré en un cercle*/
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /*legere ombre*/
    transition: all 0.3s ease; /*animation fluide*/
}

/* le nom des villes */
.city-name {
    /*margin-top: 5px;*/
    font-weight: bold;
    font-size: 12px;
    color: var(--ink);
    background-color: rgba(255, 255, 255, 0.8); /*couleur&opacité*/
    padding: 2px 8px; /*espace à l'intérieur de l'étiquette*/
    border-radius: 4px; /*arrondi les bords*/
    transition: all 0.3s ease;  /*transition fluide*/
    font-family: 'Shippori Mincho', serif;
}

/* --- EFFETS DYNAMIQUES AU SURVOL --- */
.city:hover {
    z-index: 999; /*priorité d'affichage maximale l'élément*/
}

.city:hover .dot { /*quand on passe sur la ville, le point réagit*/
    background-color: #ffd700;
    transform: scale(1.3); /*grossit le point de 30 %*/
    box-shadow: 0 0 10px #ffd700; /* ombre jaune floue de 10 pixels tout autour du point*/
}

.city:hover .city-name { /*quand on passe sur la ville le design change*/
    color: var(--paper);
    background-color: var(--red); 
    transform: scale(1.2); /*grossit le point de 20 %*/
}
/* ===== CARROUSEL ===== */
/* --- LE CARROUSEL D'IMAGES --- */
.carousel-container {
    display: none; /*caché par défaut*/
    position: absolute; /* placer la boîte de photos 
    par rapport au point de la ville*/
    bottom: 25px; /*25 pixels au-dessus du point rouge*/

    /*on force une taille fixe*/
    width: 140px; 
    height: 200px;

    /*gestion des bords*/
    border: 1px solid var(--ink);
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(132, 123, 123, 0.3); /*petite ombre*/
    z-index: 20; /* les photos passent devant tout le reste */
    background-color: var(--ink);
    overflow: hidden; /*n'affiche pas ce qui dépasse du cadre*/
}

.city:hover .carousel-container { /*quand le curseur est sur le nom
    de la ville, le carousel apparait*/
    display: block; 
}

.carousel-images {
    /*occupe la totalité de l'espace à l'intérieur du cadre */
    width: 100%;
    height: 100%;
    position: relative; /*ltes photos vont s'empiler exactement 
    les unes sur les autres au même endroit*/
}

.carousel-images img {
    /*l'image occupe 100% du container*/
    width: 100%;
    height: 100%;
    object-fit: cover; /*remplir le cadre sans "écraser" ou "déformer" l'image*/

    /*les photos sont toutes en "absolute" au même endroit,
     elles sont empilées les unes sur les autres*/
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;/*par défaut, toutes les photos sont totalement invisibles*/
    transition: opacity 0s ease-in-out; /*prépare le terrain pour une animation de fondu*/
}

.carousel-images img.active { /*cible uniquement l'image qui possède
    la classe "active" (celle que le script a décidé de 
    montrer à un instant t*/
    opacity: 1; /*rend l'image 100 % visible*/
    z-index: 1; /*place cette photo au-dessus de la pile*/
}

/* --- BOUTONS PRECEDENT / SUIVANT --- */
.carousel-btn {
    position: absolute; /* place les boutons par-dessus les images*/

    /*centre le bouton */
    top: 50%;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.5); 
    color: var(--paper);
    border: none;
    cursor: pointer; /*transforme le curseur en petite main */
    padding: 5px 8px; /*espacement interne*/
    font-size: 12px; 
    z-index: 10; /*force les boutons à rester au-dessus des images*/
    border-radius: 50%; /*transforme le carré des boutons en cercle*/
    transition: 0.2s; /*fluidifie la transition ci dessous*/
}

.carousel-btn:hover { /*quand on survol le bouton*/
    background-color: var(--red); 
}

.carousel-btn.prev { left: 5px; } /*placement à pres du bord gauche*/
.carousel-btn.next { right: 5px; } /*placement à pres du bord droit*/

/* ===== FOOTER ===== */
footer {
    background: var(--paper);
    border-top: 1px solid rgba(201,168,76,0.15);
    padding: 1rem 5vw; /*5vw = 5 % de la largeur de l'écran*/
    text-align: center;
    color: var(--ink);
}

.footer-link { 
    color: var(--ink);
    text-decoration: none; /* enlève le soulignement automatique car lien hypertext*/
    font-size: 1rem; }

.footer-link:hover { color: var(--red); }

/* ===== POSITIONNEMENT DU TEXTE AUTOUR DU POINT ===== */

.city.label-topleft .city-name { /*Kyoto*/
    position: absolute; /* détache le texte pour le placer 
    librement par rapport au point rouge*/
    bottom: 5px; 
    right: 10px; 
    margin-top: 0; /*supprime la marge du haut par défaut
     pour éviter de fausser le calcul du placement*/
}

.city.label-topright .city-name { /*Takahama*/
    position: absolute; 
    bottom: 5px; 
    left: 15px; 
    margin-top: 0;
}

.city.label-left .city-name { /*Kobe*/
    position: absolute; 
    right: 10px; 
    top: -2px; 
    margin-top: 0;
}

.city.label-right .city-name { /* Uji& Nara */
    position: absolute; 
    left: 15px; 
    top: -5px; 
    margin-top: 0;
}

/* ===== POSITIONS SPÉCIFIQUES DES PHOTOS===== */

.city.carousel-bottom .carousel-container { /* Nara & Osaka */
    bottom: auto; /*Annule le réglage par défaut 
    (qui plaçait normalement les photos 25px au-dessus du point)*/
    top: 100%; /*Aligne le haut du cadre photo sur le point rouge, 
    ce qui le place donc en dessous*/
    margin-top: 4px; 
}

.city.carousel-left .carousel-container { /*Kobe*/
    bottom: auto;
    left: auto;
    top: 50%;
    transform: translateY(-50%); /*on centre la pht par rapport au point*/
    right: 60px; /*Pousse le cadre photo vers la gauche.
     Il s'arrête à 60 pixels de distance du point rouge.*/
}

.city.carousel-right .carousel-container { /*Uji & Tokyo */
    bottom: auto;
    top: 50%;
    transform: translateY(-50%); 
    left: 52px; /*Pousse le cadre photo vers la droite.
     Il s'arrête à 52 pixels de distance du point rouge.*/
}


/* ===== DESIGN RESPONSIVE ===== */

/* Pour les écrans moyens (Tablettes et petits ordinateurs) */
@media (max-width: 1024px) { /*condition : on applique ces regles seulement si
    l'écran fait 1024px ou moins*/
    .content-wrapper { 
        flex-direction: column; /* Le texte passe en haut, la carte en bas */
        padding: 20px; /*On réduit un peu l'espace sur les côtés pour gagner de la place*/
    }
    .left-text {
        width: 100%; /*Le texte n'est plus limité à 65 %, 
        il occupe maintenant toute la largeur de l'écran*/
        text-align: center; /* Centre le texte */
    }
    .map-container {
        width: 100%; /* La carte prend toute la largeur disponible */
        max-width: 700px; /* Mais pas plus de 700px pour rester jolie */
    }
}

/* Pour les petits écrans (Téléphones) */
@media (max-width: 768px) { /*condition : on applique ces regles seulement si
    l'écran fait 768px ou moins*/
    header {
        justify-content: space-between;
        padding: 0 15px;
    }
    .logo {
        position: static; /* Le logo s'intègre naturellement avec le reste */
    }
    .nav-links {
        gap: 15px; /* Rapproche les onglets */
    }
    .nav-links > li > a {
        font-size: 14px; /* Réduit un peu la taille de la police du menu */
    }
    .left-text h1 {
        font-size: 2.2em; /* Réduit la taille du grand titre "Découvrez le Japon" */
    }
    .city.active-mobile .carousel-container {
    display: block;} 

    .city.active-mobile .dot {
    background-color: #ffd700;
    transform: scale(1.3);}
}